<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<%= form_with(model: [@topic, @post, @comment], url: topic_post_comment_path(@topic, @post, @comment), method: :patch) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <div class="form-control"> <%= form.text_field :comment ,placeholder:"Enter the viewof yours"%></div>
  </div>
  <button class="btn btn-primary">Submit</button>
<% end%>

