<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
</head><body>
<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">JustWrite</a>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><li><%= link_to 'Topics', topics_path %></li></li>
      <li><%= link_to 'Tags', tags_path %></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
<section class="home"></section>
<div class="text">
<%= form_for [@topic,@post,@comment] do |f| %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Enter your thought" %>
  </div>
  <div class="actions">
    <%= f.submit "Create comment" %>
  </div>
<% end %>
</div></body>