<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
</head><body>
<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">JustWrite</a>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><li><%= link_to 'Topics', topics_path %></li></li>
      <li><%= link_to 'Tags', tags_path %></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
<h1>Ratings for Comment</h1>

<%= @comment.content %>

<h2>Ratings:</h2>
<ul>
  <% @comment.user_comment_ratings.each do |rating| %>
    <li><strong>User:</strong> <%= rating.user.email %> | <strong>Rating:</strong> <%= rating.rating %></li>
  <% end %>
</ul>