<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<section class="home"></section>
<div class="text">
  <%= link_to 'View All Posts', all_posts_path %>
<a href="topics/new"><button class="btn btn-success">Create new topic</button></a>

  <div class="search"> <%= form_tag topics_path, method: :get do %>
     <%= text_field_tag :search, params[:search], placeholder: "Search by title" %>
    <button value="Submit"><i class="fa fa-search"></i></button>
  <% end %>
  </div>
<p style="color: green"><%= notice %></p>

<h1 style="text-align: center">Topics</h1>

<div id="topics">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">View
    <tr>
    <thead>
    <tbody>
    <% @topics.each_with_index do |topic,i| %>
      <tr><th scope="col"><%=i+1 %></th>
    <td><%=topic.title %></td>
    <td><%=topic.user.email %></td>
        <td><a href="topics/<%= topic.id %>">See</a></td></tr>
  <% end %>
    </tbody>
      </table>
</div>
</div>

