<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
</head><body>
<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">JustWrite</a>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><li><%= link_to 'Topics', topics_path %></li></li>
      <li><%= link_to 'Tags', tags_path %></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>

<section class="home">
</section>
<div class="text">

<% topics = @topics %>
<h1 style="text-align: center"><%= topics.title %></h1>
  <h5 style="text-align: center">Created by - <%= topics.author %></h5>
  <p style="text-align: center;font-size: large">Topic : Followers : Post</p>
<div class="button-container">
  <% if can? :update, topics %>
    <%= button_to 'Edit Topic', edit_topic_path(topics), class: "btn btn-primary" %>
  <%else%>
  <h6>You cannot edit this topic</h6>
  <% end %>

  <%= button_to "  Destroy this topic", @topic, method: :delete, class: "btn btn-danger" %>

  <%=link_to '<- Back to Topics', topics_path, class: "btn btn-success" %>
</div>
</div>
<%= link_to 'Create New Post', new_topic_post_path(@topic) %>
<%= link_to 'View Posts', topic_posts_path(@topic) %>
