<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="text">

<% topics = @topics %>
<h1 style="text-align: center"><%= topics.title %></h1>
  <h5 style="text-align: center">Created by - <%= topics.author %></h5>
  <p style="text-align: center;font-size: large">Topic : Followers : Post</p>
<div class="button-container">

  <%= button_to 'Edit Topic', edit_topic_path(topics), class: "btn btn-primary" %>

  <% if can? :destroy, topics %>
  <%= button_to "  Destroy this topic", @topic, method: :delete, class: "btn btn-danger" %>
  <%end%>
  <%=link_to '<- Back to Topics', topics_path, class: "btn btn-success" %>
</div>
</div>
<%= link_to 'Create New Post', new_topic_post_path(@topic) %>
<%= link_to 'View Posts', topic_posts_path(@topic) %>
