<h1>Editing post</h1>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<%= form_with(model: [@topic, @post], url: topic_post_path(@topic, @post), method: :patch, class: 'my-4') do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :tag_ids, 'Tags', class: 'form-label' %>
    <% Tag.all.each do |tag| %>
      <div class="form-check">
        <%= check_box_tag 'post[tag_ids][]', tag.id, @post.tag_ids.include?(tag.id), class: 'form-check-input' %>
        <%= label_tag nil, tag.name, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Update Post', class: 'btn btn-primary' %>
  </div>
<% end %>


