<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<div class="text">
  <div class="search">
    <%= form_tag topic_posts_path(@topic), method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by posts" %>
      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
    <% end %>
  </div>

  <p style="color: green"><%= notice %></p>
  <a href="posts/new"><button class="btn btn-success">Create new post</button></a>
  <h1 style="text-align: center">Posts</h1>
  <%= form_tag(topic_posts_path(@topic), method: "get") do %>
    <%= label_tag "From Date:" %>
    <%= date_field_tag :from_date, params[:from_date] %>

    <%= label_tag "To Date:" %>
    <%= date_field_tag :to_date, params[:to_date] %>

    <%= submit_tag "Show Details", class: "btn btn-primary" %>
  <% end %>

  <div id="topics" class="mt-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Posted at</th>
        <th scope="col">Last Updated at</th>
        <th scope="col">View</th>
        <th scope="col">Avg Rating</th>
        <th scope="col">No.of Comments</th>
        <th scope="col">Read</th>
      </tr>
      </thead>
      <tbody>
      <% @posts.each_with_index do |post, i| %>
        <tr>
          <%@count = post.comments.count %>

          <td><%= i + 1 %></td>
          <td><%= post.title %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at.strftime('%d/%m/%y') %></td>
          <td>
            <% time_difference = (Time.now - post.updated_at) / 3600 %>
            <% if time_difference < 24 %>
              <%= time_difference.round(0) %> hour(s) ago
            <% else %>
              <%= (time_difference / 24).round(0) %> day(s) ago
            <% end %>
          </td>
          <td><a href="posts/<%= post.id %>">See</a></td>
          <td><%=post.average_rating%></td>
          <td><%=@count %></td>
          <td><%= post.marked_as_read?(current_user) ? 'Readed' : 'Unreaded' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



