<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
</head><body>
<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">JustWrite</a>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><li><%= link_to 'Topics', topics_path %></li></li>
      <li><%= link_to 'Tags', tags_path %></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>

<section class="home">
</section>
<div class="text">

  <% if @posts.present? %>
    <% posts = @posts %>
    <h1 style="text-align: center;color: #340fff"><%= posts.title %></h1>
    <p style="font-size: large"><%= posts.content %></p>
    <div class="image-container">
      <% if @post.image.attached? %>
        <%= image_tag @post.image, class: 'centered-image' %>
      <% else %>
        <p>No image attached.</p>
      <% end %>
    </div>
    <div><% if @ability.can? :update, @post %>
        <%= link_to 'Edit Post', edit_topic_post_path(@topic, @post) %>
        <%else%>
          <h3>You cannot edit this post</h3>
        Logged in as: <%= current_user.email %>
      <% end %>
    </div>
  <% else %>
    <p>No posts available.</p>
  <% end %>
  <p><strong>Tags:</strong>
    <% @post.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </p>

  <div class="button-container">
    <% if can? :destroy, posts %>
    <%= button_to "Destroy this post", topic_post_path(@topic, @post), method: :delete, class: "btn btn-danger"%>
      <%end %>
    <%= link_to "View Comments", topic_post_comments_path(@topic, @post), class: "btn btn-primary" %>
    <%= link_to "Go back", topic_posts_path, class: "btn btn-success" %>
  </div>


</div>
<!-- Add this to display existing ratings -->
<h3>Existing Ratings:</h3>
<% (1..5).each do |rating| %>
  <strong><%= rating %> Star:</strong> <%= @post.ratings.where(stars: rating).count %><br>
<% end %>

<!-- Add this for the rating form -->
<h3>Rate this Post:</h3>
<%= form_for([@post, Rating.new], url: topic_post_ratings_path(@post.topic, @post), html: { id: 'rating-form' }) do |f| %>
  <div class="star-rating">
    <% (1..5).each do |rating| %>
      <%= f.radio_button :stars, rating, id: "rating_#{rating}" %>
      <%= f.label "rating_#{rating}", '★', onclick: "submitRating(#{rating})" %>
    <% end %>
  </div>
  <%= f.submit "Submit Rating", style: 'display: none;', id: 'rating-submit-button' %>
<% end %>

<script>
    function submitRating(rating) {
        var form = document.getElementById('rating-form');
        if (form) {
            // Set the selected rating before submitting the form
            var ratingInput = form.querySelector('input[id="rating_' + rating + '"]');
            if (ratingInput) {
                ratingInput.checked = true;
            }
            // Submit the form
            form.submit();
        }
    }
</script>




