<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
</head><body>
<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">JustWrite</a>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><li><%= link_to 'Topics', topics_path %></li></li>
      <li><a href="#">Post</a></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>

<section class="home">
</section>
<div class="text">

  <% if @posts.present? %>
    <% posts = @posts %>
    <h1 style="text-align: center"><%= posts.title %></h1>
    <p style="text-align: center;font-size: large"><%= posts.content %></p>
    <div>
      <%= link_to 'Edit this post', edit_topic_post_path(@topic, @post) %>
    </div>
  <% else %>
    <p>No posts available.</p>
  <% end %>

  <div>
    <%= button_to "Destroy this post", topic_post_path(@topic, @post), method: :delete %>
  </div>
  <button class="btn btn-success"><-Back To Topics</button>
</div>

