<!DOCTYPE html>
<html>
<head>
  <title>JustWrite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"><%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">JustWrite</a>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Topics', topics_path %></li>
      <li><%= link_to 'Tags', tags_path %></li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <%= image_tag('avatar.jpg', alt: 'User Avatar', style: 'width: 30px; height: 30px; object-fit: cover;') %>
          </a>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>


<section class="home">
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if user_signed_in? %>
        <%= form_with(model: current_user, url: registration_path(current_user), method: :patch, class: 'my-4') do |form| %>

          <div class="field">
            <%= form.label :email %><br />
            <%= form.email_field :email, autofocus: true, autocomplete: 'email' %>
          </div>

          <div class="field">
            <%= form.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= form.password_field :password, autocomplete: 'new-password' %>
            <!-- Add minimum_password_length logic if needed -->
          </div>

          <div class="field">
            <%= form.label :password_confirmation %><br />
            <%= form.password_field :password_confirmation, autocomplete: 'new-password' %>
          </div>

          <div class="field">
            <%= form.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= form.password_field :current_password, autocomplete: 'current-password' %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="actions">
          <%= form.submit 'Update' %>
        </div>
          <% end %>
        <%end %>
      </div>
    </div>
  </div>
</div>
<script>
    let nav = document.querySelector("nav");
    window.onscroll = function() {
        if (document.documentElement.scrollTop > 20) {
            nav.classList.add("sticky");
        } else {
            nav.classList.remove("sticky");
        }
    }
</script>

<div class="text">
  <%= yield %>
</div>
</body>
</html>
